{% extends "header.html" %}

{% block content %} 

{% load crispy_forms_tags %}    

{% csrf_token %}



{% comment %} а тут навбар или сайд бар, но у нас нет разделения по разделам {% endcomment %}
{% comment %} тут должна быть пикча которую пользователь ебашит из админки {% endcomment %}
<div class="col-lg-10 mx-auto col-12 text-center mb-3">
    <h1 class="mt-0 text-primary">Our Menu</h1>
    <p class="lead">Begin with a selection from our award winning beverage menu or choose a wine from our extensive wine list. Our wine list features over 100 different vintages and has received the chamber of commerce award of excellence.</p>
</div>

<section class="section-products">

    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h3>Featured Product</h3>
                                    <h2>Popular Products</h2>
                            </div>
                    </div>
            </div>
            {% for cat in all_sections %}
            <p>{% cat.sections %}</p>
            {% endfor %}
            <div class="row">
                    <!-- Single Product -->
                    {% for q in all_items %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="single-product">
                                    <div class="part-1 m-3">
                                        <div class="card card-body my-10">
                                            <h6 class="text-truncate">{{ q.name }}</h6>
                                            {% if q.image %}
                                            <img src ='{{q.image.url}}' class="card-img-top">
                                            {% endif %}
                                            <p class="small">{{ q.description }}</p>
                                            <p class="fw-lighter">{{ q.gramms }} {{ q.calories }}</p>
                                            <span class="float-left font-weight-bold">{{ q.price }} </span>
                                        </div>
                                    </div>
                            </div>
                    </div>
                    {% endfor %}
                </div>
            </div>  
        </div>
    </div>
</section>


<div class="container py-10">

    {% comment %} {% for cat in all_categoties %}

    <div class="row">
        <div class="col-lg-10 mx-auto col-12 text-center mb-3">
            <h1 class="mt-0 text-primary">Our Menu</h1>
            <p class="lead">Begin with a selection from our award winning beverage menu or choose a wine from our extensive wine list. Our wine list features over 100 different vintages and has received the chamber of commerce award of excellence.</p>
        </div>
        <div class="col-12 mt-4">
            <h3 class="text-center">{% cat.category  %}</h3>
            <hr class="accent my-5">
        </div> {% endcomment %}

    {% for q in all_items %}
    <div style = "column-count: 2;" class="card-columns">
    <div class="card card-body">
        <h6 class="text-truncate">{{ q.name }}</h6>
        {% if q.image %}
        <img src ='{{q.image.url}}' class="card-img-top">
        {% endif %}
        <p class="small">{{ q.description }}</p>
        <p class="fw-lighter">{{ q.gramms }} {{ q.calories }}</p>
        <span class="float-left font-weight-bold">{{ q.price }} </span>
    </div>  
    </div>
{% comment %} </div> {% endcomment %}
{% comment %} </div> {% endcomment %}
    

{% endfor %}

{% endblock %}